v15
/GZipTest/GZipTest/bin/Debug
/GZipTest/GZipTest/obj/Debug
/GZipTest/GZipTestTest/bin/Debug
/GZipTest/GZipTestTest/obj/Debug
/GZipTest/packages
/GZipTest/TestResults

/GZipTest/IndexOrder/bin/Debug
/GZipTest/IndexOrder/obj/Debug
/GZipTest/GZipTest/bin/Release
/GZipTest/GZipTest/obj/Release
/GZipTest/GZipTestTest/bin/Release
/GZipTest/GZipTestTest/obj/Release
/GZipTest/IndexOrder/bin/Release
/GZipTest/IndexOrder/obj/Release
/info.txt
