v15
/GZipTest/GZipTest/bin/Debug
/GZipTest/GZipTest/obj/Debug
/GZipTest/GZipTestTest/bin/Debug
/GZipTest/GZipTestTest/obj/Debug
/GZipTest/packages
/GZipTest/TestResults

/GZipTest/IndexOrder/bin/Debug
/GZipTest/IndexOrder/obj/Debug
